<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-orange.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
        body {
            display: flex;
            height: 100vh;
        }
        .mdc-list {
            display: flex;
            flex-direction: column;
        }
        .mdc-drawer__header {
            padding: 10px;
        }
        .mdc-list-item {
            padding: 10px;
            display: flex;
            flex-direction: row;
            text-decoration: none;
        }
        .mdc-list-item__text {
            padding-left: 10px;
        }
        .mdc-drawer {
            border-right-color: rgba(0,0,0,.12);
            border-right-style: solid;
            width: 10%;
        }
    </style>
</head>

<body>
<aside class="mdc-drawer">
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title">Insurance system</h3>
        <h6 class="mdc-drawer__subtitle">Java + Spring</h6>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/user/">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
                <span class="mdc-list-item__text">Users</span>
            </a>
            <a class="mdc-list-item" href="/contract/">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
                <span class="mdc-list-item__text">Contracts</span>
            </a>
        </nav>
    </div>
</aside>

<div style="display: flex; flex-direction: column; width: 100%; overflow: auto">
    <h1 style="margin: 10px;">Add User</h1>
    <form action="#" th:action="@{/user/add}" th:object="${user}" method="post" >
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="name" th:field="*{name}" />
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                <label class="mdl-textfield__label" for="name">Name</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="surname" th:field="*{surname}" />
            <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
            <label class="mdl-textfield__label" for="surname">Surname</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="pid" th:field="*{pid}" />
            <p th:if="${#fields.hasErrors('pid')}" th:errors="*{pid}"></p>
            <label class="mdl-textfield__label" for="pid">PID</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="email" th:field="*{email}" />
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            <label class="mdl-textfield__label" for="email">Email</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="permanentStreet" th:field="*{permanentStreet}" />
            <p th:if="${#fields.hasErrors('permanentStreet')}" th:errors="*{permanentStreet}"></p>
            <label class="mdl-textfield__label" for="permanentStreet">street</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="permanentNumber" th:field="*{permanentNumber}" />
            <p th:if="${#fields.hasErrors('permanentNumber')}" th:errors="*{permanentNumber}"></p>
            <label class="mdl-textfield__label" for="permanentNumber">Number</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="permanentTown" th:field="*{permanentTown}" />
            <p th:if="${#fields.hasErrors('permanentTown')}" th:errors="*{permanentTown}"></p>
            <label class="mdl-textfield__label" for="permanentTown">Town</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="permanentPostcode" th:field="*{permanentPostcode}" />
            <p th:if="${#fields.hasErrors('permanentPostcode')}" th:errors="*{permanentPostcode}"></p>
            <label class="mdl-textfield__label" for="permanentPostcode">Postcode</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="temporaryStreet" th:field="*{temporaryStreet}" />
            <p th:if="${#fields.hasErrors('temporaryStreet')}" th:errors="*{temporaryStreet}"></p>
            <label class="mdl-textfield__label" for="temporaryStreet">street</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="temporaryNumber" th:field="*{temporaryNumber}" />
            <p th:if="${#fields.hasErrors('temporaryNumber')}" th:errors="*{temporaryNumber}"></p>
            <label class="mdl-textfield__label" for="temporaryNumber">Number</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="temporaryTown" th:field="*{temporaryTown}" />
            <p th:if="${#fields.hasErrors('temporaryTown')}" th:errors="*{temporaryTown}"></p>
            <label class="mdl-textfield__label" for="temporaryTown">Town</label>
        </div><br>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="temporaryPostcode" th:field="*{temporaryPostcode}" />
            <p th:if="${#fields.hasErrors('temporaryPostcode')}" th:errors="*{temporaryPostcode}"></p>
            <label class="mdl-textfield__label" for="temporaryPostcode">Postcode</label>
        </div>


        <input type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised" style="width: fit-content;"/>
    </form>
</div>

</body>





</html>